.wrapper {
	background:rgba(17, 20, 40, 1);
	background-image: none !important;
}

.page {

	// .page__enter

	&__enter {
		margin: 35px 0px 60px 0px;
		@media (max-width:$md3+px){
			margin: 35px 0px 30px 0px; 
		}
	}
}
.enter-page {

	// .enter-page__container

	&__container {
	}

	// .enter-page__body

	&__body {
	}

	// .enter-page__breadcrumbs

	&__breadcrumbs {
	}

	// .enter-page__title

	&__title {
	}

	// .enter-page__form

	&__form {
	}

	// .enter-page__enter-socium

	&__enter-socium {
	}

	// .enter-page__info

	&__info {
	}
}

.socium {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// .socium__text

	&__text {
		font-weight: 500;
		font-size: 18px;
		margin: 0px 0px 20px 0px;
	}

	// .socium__icon

	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 30px 0px;
	}

	// .socium__link

	&__link {
		flex: 0 0 40px;
		height: auto;
		margin: 0px 30px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
			img{
				width: 25px;
			}
		}
		&:first-child{
			img{
				height: 22.5px;
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}

