//====================================================================================================
.header {
	background-color: #111428;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 2;
	// .header__content

	&__content {
		display: flex;
		align-items: center;
		min-height: 100px;
		position: relative;
		@media (max-width:$md3+px){
			min-height: 50px; 
		}
	}

	// .header__logo

	&__logo {
		margin: 0px 60px 0px 0px;
		@media (max-width:$md3+px){
			 margin: 0px 20px 0px 0px; 
			 position: relative;
			 z-index: 3;
		}
	}

	// .header__link-logo

	&__link-logo {
	}

	// .header__img

	&__img {
	}

	// .header__menu

	&__menu {
	}

	// .header__search

	&__search {
		margin: 0px 30px 0px 0px;
		flex: 1 1 auto;
		@media (max-width:$md4+px){
			margin: 0px 20px 0px 0px; 
		}
	}

	// .header__user

	&__user {
		display: flex;
		align-items: center;
		padding: 0px 15px 0px 0px;
		position: relative;
		z-index: 3;
		@media (max-width:$md3+px){
			 margin: 30px 0px 0px 0px; 
		}
	}

	// .header__icon

	&__icon {
		color: #FF2C2C;
		margin: 0px 20px 0px 0px;
		transition: color 0.4s ease 0s;
		@media (max-width:$md3+px){
			 font-size: 30px; 
			 margin: 0px 30px 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover{
				color: #64B369;
			}
		}
	}

	// .header__img-logo

	&__img-logo {
		background: #C4C4C4;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		position: relative;
		@media (max-width:$md3+px){
			height: 40px;
			width: 40px; 
		}
		img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			
		}
	}
	// .header__profile

	&__profile {
	}
	// .header__arrow

	&__arrow {
		position: absolute;
		font-size: 6px;
		right: -17px;
		top: 50%;
		transform: translate(0%, -50%);
		color: #fff;
		transition: all 0.4s ease 0s;
		cursor: pointer;
		@media (max-width:$md3+px){
			right: -35px;
			font-size: 10px;
		}
		&._active{
			transform: translate(0%, -50%) rotate(-180deg);
			color: #64B369;
		}
		@media (any-hover: hover) {
			&:hover{
				color: #64B369;
			}
		}
	}
}

.profile-form {
	min-width: 135px;
	position: absolute;
	top: 0;
	left:150%;
	background-color: #337AB7;
	padding: 10px;
	border-radius: 5px;
	transform: translate(15px, 0);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;
	&._active{
		transform: translate(0px, 0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	@media (max-width: 1600px){
		top: 150%;
		left:-65%; 
	}
	@media (max-width:$md3+px){
		left: 0;
		width: 100%;
	}
	// .profile-form__item

	&__item {
		width: 100%;
	}

	// .profile-form__linck

	&__linck {
		display: block;
		font-weight: bold;
		font-size: 16px;
		color: #FFFFFF;
		padding: 7px;
		width: 100%;
		transition: background 0.4s ease 0s;
		border-radius: 5px;
		@media (max-width:$md3+px){
			font-size: 18px; 
			padding: 10px;
		}
		@media (any-hover: hover) {
			&:hover{
				background-color: rgba(166, 214, 255, 0.6);
			}
		}
	}
}


.search-form {
	&._active{
		.search-form__item{
			opacity: 1;
			visibility: visible;
			top: 100%;
		}
		.search-form__icon{
			color: #64B369;
		}
	}
	// .search-form__icon

	&__icon {
		display: none;
		z-index: 5;
		position: relative;
		@media (max-width:$md2+px){
			 display: block; 
			 color: #A3A3A3;
			 background-color: transparent;
			 font-size: 18px;
			margin: 0px 0px 0px auto;
		}
	}

	// .search-form__item

	&__item {
		position: relative;
		@media (max-width:$md2+px){
			position: absolute;
			width: 95%;
			left: 0;
			top: -100%;
			z-index: 5;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			left: 50%;
			transform: translate(-50%, 0);
	  }
	}

	// .search-form__input

	&__input {
		width: 100%;
		outline: none;
		border: 1px solid #A3A3A3;
		border-radius: 5px;
		height: 40px;
		color: #A3A3A3;
		font-weight: 500;
		padding: 0px 32px 0px 14px;
		background-color: #111428;
		&:focus{
			box-shadow: 0 0 5px rgba(240, 219, 219, 0.5);
		}
	}

	// .search-form__button

	&__button {
		position: absolute;
		right: 14px;
		height: 20px;
		width: 20px;
		top: 50%;
		transform: translate(0, -50%);
		background-color: transparent;
		color: #A3A3A3;
	}
}

.menu {

	// .menu__body

	&__body {
		@media (max-width:$md3+px){
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			padding: 70px 15px 30px 15px;
			transition: left 0.4s ease 0s;
			background-color: rgba(17, 20, 40, 0.95);
			&::before{
				content:'';
				position: fixed;
				width: 100%;
				height: 50px;
				background-color: rgba(17, 20, 40, 1);
				left: -100%;
				top: 0;
				transition: left 0.4s ease 0s;
				z-index: 2;
			}
			&._active{
				left: 0;
				&::before{
					content:'';
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width:$md3+px){
			 display: block; 
		}
		>li{
			margin: 0px 40px 0px 0px;
			position: relative;
			padding: 0px 0px 7px 0px;
			@media (max-width:$md3+px){
				margin: 0px 0px 20px 0px; 
			}
			@media (any-hover: hover) {
				&:hover{
					.menu__sublist{
						transform: translate(0px, 0);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
					.menu__arrow{
						transform: translate(0%, -50%) rotate(-180deg);
						}
					.menu__link, .menu__arrow{
						color: #64B369;
					}
				}
			}
			@media (min-width:$md3+px){
				&._hover{
				  .menu__sublist{
					  transform: translate(0px, 0);
					  opacity: 1;
					  visibility: visible;
					  pointer-events: auto;
				  }
				  .menu__arrow{
					  transform: translate(0%, -50%) rotate(-180deg);
					  }
				  .menu__link, .menu__arrow{
					  color: #64B369;
				  }
				} 
		  }
		}
	}

	// .menu__arrow

	&__arrow{
		position: absolute;
		font-size: 6px;
		right: -15px;
		top: 50%;
		cursor: pointer;
		transform: translate(0%, -50%);
		transition: all 0.4s ease 0s;
		color: #fff;
		background-color: transparent;
			@media (max-width:$md2+px){
				right: -20px;
			}
			@media (max-width:$md3+px){
				 font-size: 10px;
				 top: 10px;
				 right: 5px;
				 transform: translate(0%, 0%);
				 &._active{
					 transform: rotate(-180deg);
				 }
			}
	}

	// .menu__link

	&__link {
		font-weight: bold;
		font-size: 18px;
		text-transform: capitalize;
		color: #FFFFFF;
		transition: all 0.4s ease 0s;
		@media (max-width:$md3+px){
			 font-size: 24px;
			 position: relative;
		}
	}
	
	// .menu__sublist

	&__sublist {
		@media (max-width:$md3+px){
			 top: 5px; 
		}
		@media (min-width:$md3+px){
			position: absolute;
			top: 25px;
			right: -15px;
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		width: 20px;
		height: 16px;
		cursor: pointer;
		position: relative;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

