.wrapper {
	background:rgba(17, 20, 40, 1);
	background-image: none !important;
}

.page {

	// .page__recovery

	&__recovery {
		margin: 35px 0px 60px 0px;
	}
}
.recovery-page {

	// .recovery-page__container

	&__container {
	}

	// .recovery-page__body

	&__body {
	}

	// .recovery-page__breadcrumbs

	&__breadcrumbs {
	}

	// .recovery-page__label

	&__label {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin: 0px 0px 40px 0px;
		color: #64B369;
		text-align: center;
	}

	// .recovery-page__form

	&__form {
	}

	// .recovery-page__info

	&__info {
	}
}



